<header class="ud-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/logo-5.png" alt="Logo" />
                    </a>
                    <button class="navbar-toggler">
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                    </button>

                    <div class="navbar-collapse">
                        <ul id="nav" class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a href="index.html">Trang chủ </a>
                            </li>
                            <li class="nav-item">
                                <a href="pricing.html">Giá Tour</a>
                            </li>
                            <!-- MỤC TIN TỨC MỚI -->
                            <li class="nav-item">
                                <a href="blog.html">Tin Tức</a>
                            </li>
                            <li class="nav-item">
                                <a href="index.html#team">Hướng dẫn viên</a>
                            </li>
                            <li class="nav-item">
                                <a href="index.html#contact">Liên hệ</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Khối đăng nhập/profile giữ nguyên như bạn cung cấp -->
                    <div class="navbar-btn d-none d-sm-inline-block">
                        <div class="js-auth-btn" style="display: inline-block;">
                            <a href="login.html" class="ud-main-btn ud-login-btn">
                                Đăng nhập
                            </a>
                            <a href="signup.html" class="ud-main-btn ud-login-btn">
                                Đăng kí
                            </a>
                        </div>
                        <div class="dropdown js-profile-section" style="display: none;">
                            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle profile-dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/team/default-avatar.png" width="50px" style="max-width: 50px; max-height: 50px;" alt="avatar" class="profile-avatar">
                                <span class="ms-2 text-white">Hi, <span id="user-greet-name"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end shadow">
                                <li><a class="dropdown-item" href="profile.html">Tài khoản của tôi</a></li>
                                <li><a class="dropdown-item" href="BookingHistory.html">Lịch sử mua hàng</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#" id="logout-link">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>